@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"]:checked + label {
  @apply bg-blue;
}

@layer base {
  
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243,243,243;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
.fc-event {
  height:48px !important;
  padding: 3px !important;
}
.fc-button {
  background-color: #3788D8 !important;
  border: none !important;
}
.fc-button-group {
  border: none !important;
}

.apexcharts-svg {
  width: 100% !important;
  height: auto !important;
}
.apexcharts-legend-text {
  font-weight: bold;
}

